.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 70px;
}

.title {
    font-family: Orbitron, Orbitron Fallback;
    font-size: 40px;
}

.text {
    padding-top: 20px;
    width: 100%;
}

.container_firstBox {
    display: flex;

    & .text {
        max-width: 650px;
        padding-top: 200px;

        & h1 {
            font-family: Orbitron, Orbitron;
            font-size: 42px;
            display: flex;
            flex-wrap: nowrap;

            & span {
                margin-left: 10px;
                color: red;
            }

            & p>span {
                color: white;
                margin: 0;
            }
        }
    }

    & .btn {
        margin-top: 50px;
        background-color: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(2px);
        outline: none;
        color: white;
        cursor: pointer;
        font-size: 22px;
        font-family: Rajdhani, Rajdhani Fallback;
        font-weight: 700;
        text-transform: uppercase;
        border: 1px solid white;

        & a {
            display: block;
            padding: 10px 30px;
            background-color: transparent;
        }
    }

    & canvas {
        width: 50%;
        height: 85vh;
        cursor: grab;
        background-color: transparent;
    }
}

.container_secondBox {
    margin-top: 300px;
    display: flex;
    justify-content: flex-end;

    & h1 {
        
    }

    & p {
        max-width: 500px;
        font-size: 22px;
        font-weight: 500;
    }
}