.container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10;
    border-bottom: 1px solid rgba(229, 231, 235, 0.3);
}

.frame {
    width: 100%;
    max-width: 1440px;
    padding: 0 20px;
    margin: 0 auto;

    display: flex;
    justify-content: center;
}

.links {
    & a {
        padding: 10px 20px;
        transition: all .2s ease-in;
        color: white;
        font-weight: 600;

        &.active {
            color: red;
        }

        &:hover {
            color: red;
        }        
    }
}