.container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10;
    backdrop-filter: blur(5px);
    /* box-shadow: 0 10px 15px -3px rgba(255, 0, 0, 0.4), 0 4px 6px -4px red; */
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

.logo {
    height: 20px;
}

.frame {
    width: 100%;
    max-width: 1440px;
    padding: 0 20px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
}

.links {
    & a {
        padding: 10px 20px;
        transition: all .2s ease-in;
        color: white;
        font-family: Orbitron, Orbitron;
        font-weight: 600;

        &.active {
            color: red;
        }

        &:hover {
            color: red;
        }
    }
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
}